.text-size-085 {
    font-size: .85rem;
}
.text-size-075 {
    font-size: .75rem;
}
.text-size-120 {
    font-size: 1.2rem;
}
.text-weight-300 {
    font-weight: 300;
}
.text-weight-400 {
    font-weight: 400;
}
.text-weight-700 {
    font-weight: 700;
}


