@import "meta";
@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "utils";
@import "types";


html {
    font-size: 18px;
}

body {
    @include typeMain();
}

.container {
    max-width: 960px;
}
.width-maxed {
    max-width: 720px;
}
.main-navbar {
    font-size: .85rem;
    font-weight: 300;
}
.navbar-dark .nav-item .nav-link {
    color: rgba(white, .95);
}
.webhead {
    p.lead {
        margin-bottom: .6rem;
    }
    &::after {
        content: '';
        display: block;
        height: 4px;
        width: 256px;
        max-width: 100%;
        background-color: rgba($dark, .6);
        margin-left: .2rem;
    }
}
